
.inputWrapper{
    width: 366px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px rgba(19, 19, 19, 0.10);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 15px;
}

.input{
    width: 298px;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 35px;
}

.input:focus{
    border: 2px solid #f1f2f3;
    border-radius: 25px;
    width: 250px;
    
}

.iconSearch{
    position: absolute;
    top: 14px;
    left: 19px;
    width: 34px;
    height: 34px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}

.s1{
    position: absolute;
    top: 14px;
    right: 19px;
    width: 34px;
    height: 34px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
}