.main{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.leftButtons{
    display: flex;
    align-items: center;
    gap: 20px;
}

.leftButtons span{
    width: 1px;
    height: 18px;
    background-color: #CDCDCD;
}

.btn{
    color: #616F82;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 400;
    opacity: 0.8;
    transition: 0.2s all linear;
}
.btn:hover{
    opacity: 1;
    color: #000;
}

.activeBtn{
    color: #4198C5;
    background-color: transparent;
    border: none;
    font-weight: 400;
    cursor: pointer;
}

.rigthWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.addBtn{
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s all linear;
}
.addBtn:hover{
    transform: scale(103%);
}