.frame{
    width: 366px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-right: 10px;
    padding-left: 15px;
}
.counter{
    position: relative;
    color: #fff;
    padding: 0 4px;
    border-radius: 9px;
    font-size: 12px;
    background-color: #616F82;
}


.btn{
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    color: #616F82;
    cursor: pointer;
    transition: 0.2s all linear;
}
.btn:hover{
    color: #000;
}