.frame{
    width: 366px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-right: 10px;
    padding-left: 15px;
}

.counter{

}

.btn{
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    color: #616F82;
}