@import '../../assets/parametrs.scss';

.frame{
    width: 744px;
    height: 110px;
    padding: 15px;
    background-color: $fonColor;
    box-shadow: 0px 1px 4px 0px rgba(30, 30, 30, 0.10);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.userIcon{
    width: 90px;
    height: 90px;
    margin-right: 14px;
    border-radius: 50%;
}

.main{
    display: flex;
}

.infoUser{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.name{
    font-size: 16px;
    line-height: 20px;
}

.info{
    font-size: 12px;
}

.shape{
    position: absolute;
    top: 28px;
    right: 23px;
    opacity: 0.5;
    transition: 0.2s all linear;
    cursor: pointer;
    z-index: 3;
    width: 34px;
    height: 34px;
    padding: 5px;

}

.shape:hover{
    opacity: 1;
}

.shapeActive{
    position: absolute;
    top: 28px;
    right: 23px;
    opacity: 0.7;
    transition: 0.2s all linear;
    cursor: pointer;
    z-index: 3;
    width: 34px;
    height: 34px;
    background-color: #4198C5;
    border-radius: 34px;
    padding: 5px;
}

// ================


.modal{
    display: none;
    position: relative;
    z-index: 2;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 20px;
    width: 230px;
    height: 88px;
    background-color: #fff;
    border-radius: 4px;
    transform: translate(-20px, 41px);
    filter: drop-shadow(0px 2px 16px rgba(34, 34, 34, 0.16));
}
.modalAcrive{
    display: flex;
}

.actionButton{
    cursor: pointer;
    width: 230px;
    height: 36px;
    text-transform: capitalize;
    text-align: left;
    border: none;
    font-size: 14px;
    background-color: rgba(255,255,255,0);
    color: #161718;
    padding-left: 20px;
}

.actionButton:hover{
    background-color: #f1f2f3;
}